@import "../variables.scss";

$stardust-color: #444349;

h1,
Link {
  color: white;
}

header {
  position: fixed;  
  background: transparent;
  box-shadow: none;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 1;
}

.headerLightMode, .headerLightMode.change-color {
  background: $background-color;
  box-shadow: 0px 1px 2px $text-color;
}

.logo_white {
  display: block;
}

.logo_normal {
  display: none;
}

header.hide {
  top: -100px;
}

.change-color {
  background-color: $stardust-color;
  opacity: 1;
  box-shadow: 0px 1px 2px $background-color;
}

.navigationBar {
  list-style-type: none;
  color: white;
}

// mobile menu

.navigationBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  transform: translateY(0%);
  transition: 400ms transform;
}

.item {
  padding: 10px;
  display: none;
  width: 100%;
  text-align: right;
  order: 2;
  background-color: $stardust-color;
  color: $text-color;
}

.itemLightMode {
  background-color: $background-color;
}

.active .item {
  display: block;
}

header ul > li:nth-child(2) {
  margin-top: 1rem;
}

.toggle {
  order: 1;
  margin-right: 1rem;
}

.logo {
  margin-left: 1rem;
}

.hamburger {
  height: 16px;
}


@media all and (min-width: 960px) {
  .item {
    display: block;
    background: transparent;
    position: relative;
    width: auto;
    color: $text-color;
  }

  .navigationBar {
    flex-wrap: nowrap;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    display: none;
}

  .navigationBar > li:hover {
    color: red;
    transition: all 0.3s ease;
  }

  .navigationBar > li.item > a:after {
    content: " ";
    width: 14px;
    height: 20px;
    background: url(../images/svg/nav-arrow.svg) center center no-repeat;
    background-size: 14px 20px;
    opacity: 0;
    padding-left: 2rem;
    transition: all 0.2s;
  }

  .navigationBar > li > a:hover::after {
    transform: translate(20px, 20px);
    opacity: 1;
  }

  ul > li:nth-child(2) {
    margin-top: 0;
  }
}