@import "../variables.scss";

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mainHeading {
  text-align: center;
  width: 50%;
}

.videoWrapper video {
  display: block;
  margin: auto;
}

.content {
  position: relative;
}

figcaption {
  text-align: center;
  margin-top: 1rem;
}

.leistungen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.personCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personCard {
  margin: 30px 20px;
}

.personCard p {
  text-align: center;
}

.personCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alarmDarkMode {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery > * {
  margin: 5px 10px;
}

.gallery.leistungen > * {
  width: 250px;
  margin: 25px;
}

.personCard h2 {
  font-size: 1.5rem;
}

.darkModeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#darkModeToggle {
  cursor: pointer;
  position: relative;
}

#darkModeToggle #cursor {
  position: absolute;
  top: 150px;
  left: 80px;
}

.lampe_on {
  display: none;
}

#partner {
  margin-top: 3rem;
}

.segel {
  position: absolute;
  opacity: 0.3;
  z-index: -1;
}

.email-link {
  text-decoration: underline;
}

.instagram-link {
  color: #E4405F
}

.facebook-link {
  color: #1877F2
}

.instagram-link, .facebook-link {
  font-size: 1.5rem;
}

#osm {
  border: 1px solid black
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// special mobile rules
@media (max-width: 767.98px) {
  .mainHeading {
    width: 100%;
  }

  .headingBlob {
    display: none;
  }

  .videoWrapper {
    width: 100%;
  }

  .videoWrapper video {
    width: 100%;
  }

  // top and bottom margin to 0 because it looks weird on mobile
  .personCard {
    margin: 0;
    margin-top: 2rem;
    width: 100%;
  }

  // Leistungen-Icons placement optimized
  .leistungen > * {
    margin-right: -10px;
    margin-left: -10px;
  }

  .leistungen img,
  .leistungen .knxImage {
    width: 150px;
    height: auto;
  }

  .segel {
    left: -300px;
  }
}

