@import "../variables.scss";

.headingContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 20vh;
}

.mainHeading {
  text-align: left;
  width: 50%;
  color: $text-color;
}

.headingBlob {
  position: absolute;
  background-image: url(../images/svg/blob.svg);
  background-repeat: no-repeat;
  top: 15vh;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 50%;
}

h1 {
  color: $text-color;
}

// special mobile rules
@media (max-width: 767.98px) {
  .mainHeading {
    width: 100%;
  }

  .headingContainer {
    top: 0vh;
  }

  .headingBlob {
    display: none;
  }

  .videoWrapper {
    width: 100%;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .titlePlaceholder {
    display: none;
  }

  // Leistungen-Icons placement optimized
  .leistungen > * {
    margin-right: -10px;
    margin-left: -10px;
  }

  .leistungen img,
  .leistungen .knxImage {
    width: 150px;
    height: auto;
  }
}

.whiteParagraph {
  color: white;
}

.content {
  position: relative;
}

figcaption {
  text-align: center;
  margin-top: 1rem;
}

.leistungen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
