.mainHeading {
  text-align: left;
  position: relative;
  width: 50%;
}

@media (max-width: 767.98px) {
  .mainHeading {
    width: 100%;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.whiteParagraph {
  color: white;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

#introVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  position: relative;
}

.placeholder {
  //min-height: 100vh;
  min-height: calc(100vh - 75px);
}

.titlePlaceholder {
  min-height: 20vh;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 10px;
}

.cards > * {
  width: 250px;
  margin: 5px;
}
