@import "../variables.scss";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em;
  font-family: "Open Sans";
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url(../images/white-waves.png);
  background-repeat: repeat;
}

.htmlDarkMode {
  background-image: url(../images/stardust.png);
}

.textDarkMode {
  color: $background-color;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  //background-color: red;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  min-height: 100vh;
}